.name{
    font-size: 30px;
    font-weight: 900;
    padding: 10px 0px 0px 300px;
max-width: 1200px;
min-width: 320px;

}

.position{
font-size: 22px;
font-weight: 100;
padding: 0px 0px 0px 300px;
color: grey;
max-width: 1200px;
min-width: 320px;

}

.email{
    font-size: 22px;
    font-weight: 100;
    padding: 0px 0px 0px 300px;
    text-decoration: underline;
    color: grey;
    max-width: 1200px;
    min-width: 320px;
}

.phone{
    font-size: 22px;
    font-weight: 100;
    padding: 0px 0px 0px 300px;
    text-decoration: underline;
    color: grey;
    max-width: 1200px;
    min-width: 320px;
    display: flex;
}

.location{
    font-size: 22px;
    font-weight: 100;
    padding: 0px 0px 0px 300px;
    text-decoration: underline;
    color: grey;
    max-width: 1200px;
    min-width: 320px;
}

.image{
    max-width: 250px;
    position: absolute;
    left: 25px;
    top: 25px;
    min-width: 200px;
}

.descrition{
    color: grey;
    padding: 80px 0px 0px 60px;
    font-size: 30px;
    max-width: 1200px;
    min-width: 320px;
}

.myself{
    position: absolute;
    left: 310px;
    top: 425px;
    font-size: 17px;
    max-width: 600px;
    min-width: 320px;
}

span{font-weight: 900;}

.firstjob{
    position: absolute;
    left: 310px;
    top: 508px;
    font-size: 17px;
    max-width: 1200px;
    min-width: 320px;
    padding-right: 10px;
}

.responsibilities{
    position: absolute;
    left: 310px;
    top: 540px;
    font-size: 17px;
    max-width: 1200px;
    min-width: 320px;
    padding-top: 10px;
}

.list{
    position: absolute;
    left: 290px;
    top: 570px;
    font-size: 17px;
    max-width: 1200px;
    min-width: 320px;
    padding-top: 10px;
}

.bold{
    position: absolute;
    left: 310px;
    top: 600px;
    font-size: 17px; 
    max-width: 1200px;
    min-width: 320px;
    padding-top: 10px;
}

.list1{
    position: absolute;
    left: 290px;
    top: 630px;
    font-size: 17px;
    max-width: 1200px;
    min-width: 320px;
    padding-top: 10px;
}

.company{
    position: absolute;
    left: 310px;
    top: 680px;
    font-size: 17px;
    max-width: 1200px;
    min-width: 320px;
    padding-top: 30px;
}
.responsibilities2{
    left: 310px;
    top: 710px;
    font-size: 17px;
    position: absolute;
    max-width: 1200px;
    min-width: 320px;
    padding-top: 50px;
}

.list2{
    left: 290px;
    top: 740px;
    font-size: 17px;
    position: absolute;
    max-width: 1200px;
    min-width: 320px;
    padding-top: 50px;
}
.achievements{
    left: 310px;
    top: 830px;
    font-size: 17px;
    position: absolute;
    max-width: 1200px;
    min-width: 320px;
    padding-top: 50px;
}

.list3{
    left: 290px;
    top: 860px;
    font-size: 17px;
    position: absolute; 
    max-width: 1200px;
    min-width: 320px;
    padding-top: 50px;
}
.descrition2{
    color: grey;
    padding: 398px 0px 0px 60px;
    font-size: 30px;
    max-width: 1200px;
    min-width: 320px;
    padding-top: 420px;
}

.study{
    left: 310px;
    top: 960px;
    font-size: 17px;
    position: absolute; 
    max-width: 1200px;
    min-width: 320px;
    padding-top: 30px;
}

.list4{
    left: 290px;
    top: 990px;
    font-size: 17px;
    position: absolute; 
   padding-bottom: 100px;
   max-width: 1200px;
   min-width: 320px;
   padding-top: 40px;
}

.descrition55{
    color: grey;
    padding: 25px 0px 0px 60px;
    font-size: 30px;
    max-width: 1200px;
}